/* CUSTOM CSS STYLESHEET */

/*Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*  font-family: 'Raleway', Helvetica, sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Mate+SC'); /*  font-family: 'Mate SC', Georgia, serif;  */
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700'); /*  font-family: 'Oxygen', Helvetica, sans-serif;  */
@font-face { font-family: ImpactMobile; src: url('../fonts/impact.ttf'); } /* Impact font for Mobile */

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.navbar-inverse {
	background: rgba(255, 255, 255, .1);
	border: 0px;
}

body {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	background: url('../img/MyBG.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	/* Negative indent footer by it's height */
    margin: 0 auto -65px;
}

@media (min-width: 767px) {
	.navbar-nav {
		width: 100%;
		text-align: center;    
	}

	.navbar-nav li {
		float: none;
		display: inline-block;
	}
}

.navbar-inverse .navbar-nav li a {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1.25em;
	color: white;
}

.navbar-inverse .navbar-nav li a:hover{
	cursor: pointer;
}

.navbar-inverse .navbar-nav li a:focus{
	outline: none;
}

.navbar-inverse .navbar-collapse {
	border: 0px;
}

.navbar-inverse .navbar-toggle {
	margin-left: 15px;
}

#home {
	margin-top: 5%;
}

#home h1 {
	font-family: Impact, ImpactMobile, Georgia, serif;
	font-size: 5.5em;
	color: white;
	margin-bottom: 40px
}

@media (min-width: 992px) {
	#home .text-center, #home .text-center{
		text-align: right;
	}
}

@media (max-width: 670px) {
	#home h1 {
		font-size: 3em;
		margin-top: 40px;
	}
}

@media (max-width: 390px) {
	#home h1 {
		font-size: 2em;
		margin-top: 40px;
	}
}

#home h2, #home h3 {
	font-family: 'Mate SC', Georgia, serif;
	color: white;
}

#home .my-quote {
	margin-top: 50px;
}

#about {
	margin-top: 60px;
}

#about .jumbotron, #portfolio .jumbotron, #resume .jumbotron {
	background-color: rgba(0, 0, 0, .75);
	color: white;
}

#about .jumbotron h2{
	font-family: 'Mate SC', Georgia, serif;
	margin-top: 0;
	/*margin-bottom: 25px;*/
}

#about .jumbotron .web-head {
	margin-top: 25px !important;
}

#about .jumbotron p, #about .jumbotron p .badge {
	font-family: 'Oxygen', Helvetica, sans-serif;
}

#about .jumbotron p {
	font-size: 16px;	
}

#portfolio {
	position: relative;
	margin-top: 60px;
}

#portfolio .top-heading {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -15px;
	border: 1px solid white;
}

#resume .resume-pdf {
	font-family: 'Oxygen', Helvetica, sans-serif;
	border: 1px solid white;
	background-color: black;
	color: white;
	margin-bottom: 15px;
}

#resume .resume-pdf:hover {
	font-family: 'Oxygen', Helvetica, sans-serif;
	border: 1px solid black;
	background-color: white;
	color: black;
	margin-bottom: 15px;
}

#resume .jumbotron ul {
	font-family: 'Oxygen', Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 20px;
}

#resume .jumbotron h2 {
	font-family: 'Mate SC', Georgia, serif;
}

#resume .jumbotron h3, #resume .jumbotron h4{
	font-family: 'Oxygen', Helvetica, sans-serif;
}

#resume .jumbotron h2, #resume .jumbotron h3 {
	margin-top: 0;
}

#resume .jumbotron p {
	font-size: 16px;	
}

#resume .jumbotron p, #resume .jumbotron .resume-sub {
	font-family: 'Oxygen', Helvetica, sans-serif;
	margin-bottom: 25px;
}

#contact {	
	color: white;
}

#contact .modal-header h2 {
	font-family: 'Mate SC', Georgia, serif;
	font-size: 1.7em;
	line-height: 1;
	display: inline;
}

.contact-modal-header, .contact-modal-body {
	background-color: #191919;
}

.contact-modal-header .close{
	color: white !important;
	opacity: 1;
}

.contact-modal-header .close:hover{
	opacity: .75;
}

.contact-modal-body {
	font-family: 'Oxygen', Helvetica, sans-serif;
}

.contact-modal-body blockquote {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#contact a:link, #contact a:visited {
	color: white;
	text-decoration: none;
}

#contact .contact-a-gmail:hover {
	color: firebrick;
}

#contact .contact-a-fb:hover {
	color: cornflowerblue;
}

#contact h4 {
	margin-top: 40px;
    margin-bottom: 60px;
}

@media (max-width: 345px) {
	#contact h4 {
		font-size: 12px;
		margin-top: 50px;
   		margin-bottom: 60px;
	}
}

.hideme {
	display: none !important;
}

.showcontent {
	display: block;
}

/*FOOTER*/
.footer-push, .footer {
	height: 65px;
}

.footer {	
	padding-top: 20px;
	background-color: #191919;
	color: white;
}

.footer p {
	font-family: 'Raleway', Helvetica, sans-serif;
}

.footer a:link, .footer a:visited {
	color: white;
}

.footer .a-gmail:hover {
	color: firebrick;
}

.footer .a-fb:hover {
	color: cornflowerblue;
}

@media (max-width: 1200px) {
	.wrapper {
		margin: 0 auto -100px;
	}
	.footer-push, .footer {
   		height: 100px;
    }
	.footer .text-right, .footer .text-left{
		text-align: center;
	}
}

@media (max-width: 600px) {
   	.footer p {
   		font-size: .85em;
    }
}

@media (max-width: 480px) {
   	.footer p {
   		font-size: .75em;
    }
}